.background{
  background-image: url("../img/homebackground.jpg");
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.navbar {
  background-color: lightblue !important;
}

